* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 80px);
}

/*Nav*/
header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 40px;
}

nav {
  display: none;
  position: fixed;
  top: 67px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background-color: white;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
#hamburger-menu {
  display: none;
}
header a {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  padding: 10px;
}

header a:hover {
  color: #347928;
}

nav li {
  display: block;
  padding: 20px 30px;
}
nav ul {
  padding: 0px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filter-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-container span {
  font-weight: 500;
  font-size: 20px;
}

.filter-container select {
  border: 2px solid #333333;
  border-radius: 4px;
  font-size: 18px;
}

.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-container i {
  font-size: 24px;
  color: #347928;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: white;
  color: #347928;
  border: 2px solid #347928;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 12px;
  font-weight: bold;
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.loader.hidden {
  display: none;
}

/* footer */

footer {
  height: 80px;
  width: 84%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
}

.sosial-icons {
  display: flex;
  gap: 15px;
  font-size: 24px;
}

.sosial-icons a {
  color: #347928;
  transition: color 0.3s ease;
}

@media (min-width: 600px) {
  /*Nav*/
  header {
    justify-content: start;
  }
  header img {
    height: 60px;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
    padding: 0px;
  }
  header label {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo img {
    height: 40px;
  }

  .filter-container {
    width: 100%;
  }

  .filter-container select {
    width: 100%;
  }

  .cart-container {
    width: 100%;
    text-align: right;
  }
}
