#product-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#product-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#product-detail h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

#product-detail p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.sizes-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sizes-container label {
  font-size: 16px;
  font-weight: 500;
}

.sizes-container select {
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  border: 2px solid #333333;
}

.price-button-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

#product-detail .price {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #333333;
}

#product-detail button {
  background-color: #347928;
  width: 154px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

#product-detail button:hover {
  color: #347928;
  background-color: white;
  border: 2px solid #347928;
  font-weight: 600;
}

@media (min-width: 600px) {
  #product-detail {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  #product-detail img {
    max-width: 50%;
  }

  .product-info {
    flex: 1;
  }
}

@media (min-width: 900px) {
  #product-detail img {
    max-width: 50%;
  }

  #product-detail h2 {
    font-size: 2.5rem;
  }

  #product-detail p {
    font-size: 1.1rem;
  }

  #product-detail .price {
    font-size: 1.75rem;
  }

  #product-detail button {
    font-size: 1.1rem;
  }
}
